body {
    background-color: #0ea16a;
    /*background-color: #DAE2DF;*/
    /*background-color: #2A2E3A;*/

    font-family: 'Rubik', sans-serif;
}

.mainpage {
    background-image: url("/img/saleengrayLogo.png");
    width: 398px;
    height: 317px;
}
